@charset "UTF-8";
/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .houses__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 60px;
  }
  .popular__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popular__item {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .travel__inner {
    padding: 50px;
  }
  .travel__texts, .travel__img {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .travel__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__li {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .popular__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .popular__img {
    height: 335px;
  }
  .travel__img {
    height: 400px;
  }
  .travel__description {
    margin-bottom: 40px;
  }
  .travel__title::before {
    display: block;
  }
  .footer__li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__nav {
    display: block;
  }
  .mobile-menu__btn {
    display: none;
  }
  .swiper-slide {
    -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .travel__inner {
    padding: 50px 150px;
  }
  .popular__item {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .side {
    display: block;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */